.idea
scr/apps/helloWorld/bin/
scr/apps/helloWorld/obj/
CPico/*.gitignore
CPico/*.txt
# --- Python & Bytecode ---
**/__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

# --- Entornos Virtuales ---
venv/
.venv/
env/

# --- IDEs (PyCharm y VS Code) ---
.idea/
.vscode/
*.swp
*.swo

# --- Compilación de C/C++ (Pico SDK) ---
build/
CMakeLists.txt.user
*.elf
*.bin
*.uf2
*.map

# --- Configuración y Secretos ---
.env
pyrefly.toml

# --- Opcional: Pruebas ---
# Descomenta la siguiente línea si NO quieres subir tus archivos de test
*_test.py